<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="margin-top: 69px;  margin-left:486px; ">   



<h1>Programmers</h1>
<form action="addProgrammer" method="POST">
<h3>Programmmers name:</h3>
<input type="text" name="pName">
<h3>Programmmers Language:</h3>
<input type="text" name="pLang">
<br><br><br>
<button type="submit">Add Programmer</button>
</form>

<hr />

<form action="findById" method="POST">
<h3>Enter programmer's Id</h3>
<input type="text" name="pId"><br>
<button type="submit">Find By Id</button>
</form>

</body>
</html>