<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="If-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/CSS/index.css}">

<title>Home Page</title>
</head>
<body>


<!-- Importing Navbar -->
<header th:insert="navbar.html::navbar"></header >

<div class="container">
	<h2 class="text-center py-4">Programmers</h2>
	<hr/>
	<div class="row">
		<div class="col-sm-6 ">
			<fieldset class="border">
   				<legend  class="float-none w-auto p-2">Programmer Add</legend>
				<form action="#" method="post" enctype="multipart/formdata" >
					<div class="mb-3">
					  <label for="exampleFormControlInput1" class="form-label">Name</label>
					  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
					</div>
					<div class="mb-3">
					  <label for="exampleFormControlInput2" class="form-label">Language</label>
					  <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Language">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</fieldset>
		</div>
		
		<div class="col-sm-6">
		<fieldset class="border">
   		<legend  class="float-none w-auto p-2">Programmer's</legend>
		<table class="table">
  <thead class="table-dark">
     <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Language</th>
      <th scope="col">Status</th>
      <th scope="col">Update</th>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      
    </tr>
    
     <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    
     <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    
     <tr>
      <th scope="row">4</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    
     <tr>
      <th scope="row">5</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
</fieldset>
		</div>		
	</div>

</div>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>